<div class="mt-4">
    <h1>Đăng khóa học</h1>

    <form method="POST" action="store">
        <div class="mb-3">
            <label class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Mô tả</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label">Video Id</label>
            <input type="text" class="form-control" name="videoId">
        </div>
        <div class="mb-3">
            <label class="form-label">Độ khó</label>
            <input type="text" class="form-control" name="level">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>